<nav
  class="navbar navbar-light bg-primary"
  style="border-bottom: 4px solid #0000; background-color: #efeeec !important"
>
  <div class="container-fluid" >
    <a href="#" class="navbar-brand" id="printNav">
      <img id="printImg"
        src="/assets/logo.png"
        width="90"
        height="120"
        alt=""
        class="d-inline-block align-middle mr-2"
      />
      <span id="printText" class="text-uppercase font-weight-bold mx-4">Relatório por Demanda</span>
    </a>
    <div class="d-flex">
      <h5>De:</h5>
      <input
        type="date"
        style="width: 200px"
        #dataInicial
        class="form-control mx-2"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Ex: 10"
      />
      <h5>Até:</h5>
      <input
        type="date"
        style="width: 200px"
        #dataFinal
        class="form-control mx-2"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Ex: 10"
      />
      <button
      id="printPageButton"
        title="Gerar Relatório"
        class="btn btn-light mx-2"
        (click)="montarArrayDates(dataInicial.value, dataFinal.value)"
      >
      <i class="fa-solid fa-magnifying-glass"></i>
      </button>

      <button
      id="printPageButton"
        title="Imprimir"
        class="btn btn-light mx-2"
        (click)="printThisPage()"
      >
        <i class="fas fa-print"></i>
      </button>
      <button
      id="printPageButton"
        title="Restaurante"
        class="btn btn-light mx-2"
        (click)="gotoRestaurante()"
      >
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
      </button>
    </div>
  </div>
</nav>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Data</th>
      <th scope="col">Café</th>
      <th scope="col">Almoço</th>
      <th scope="col">Janta</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rel of relatorio.results; let i = index">
      <td>{{ converterLongDate(rel.data) }}</td>
      <td>{{ rel.cafe }}</td>
      <td>{{ rel.almoco }}</td>
      <td>{{ rel.janta }}</td>
    </tr>
    <tr class="table-secondary">
      <td><b>Total:</b></td>
      <td><b>{{totalCafe}}</b></td>
      <td><b>{{totalAlmoco}}</b></td>
      <td><b>{{totalJanta}}</b></td>
    </tr>
  </tbody>
</table>
